body{text-align: center;
     background-color:burlywood;
    }
p1{font-weight: bold;}
h1{
    font-family:algerian;
    text-align: center;}
select{display: inline-block;
    font-weight:bold ;
text-align: center;}


